@import "_colors.scss";
@import "_mixins.scss";

.card-item {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  cursor: pointer;
  box-sizing: border-box;

  @include breakpoint(sm) {
    min-height: 100px;
  }

  .content {
    width: 100%;
  }

  .expander {
    color: $lightGray;
    margin-left: 32px;
    position: relative;
    transition: left 0.2s ease-out, color 0.2s ease-out;
    left: 0px;

    @include breakpoint(xs) {
      margin-left: 8px;
    }
  }

  &:hover {
    .expander {
      color: black;
      left: 8px;
    }
  }

  &:not(:first-child) {
    margin-top: 16px;
  }
}
