@import "_colors.scss";
@import "_mixins.scss";
@import "global.scss";

#campaign-channels {
  .channel-container {
    font-size: 18px;
    font-weight: 600;
  }

  .campaign-channels-tab {
    display: flex;
    margin: 16px;
    border-bottom: 1px solid $grayBorder;

    .menu-item {
      line-height: 80px;
      margin-right: 32px;
      position: relative;
      color: $lightGray;
      text-decoration: none;
      transition: color 0.1s, background-color 0.1s;
      font-weight: 500;
      font-size: 16px;

      @include breakpoint(xs) {
        line-height: 23px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 14px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 3px;
        width: 0;
        transition: width 0.2s ease-out, left 0.2s ease-out;
        background-color: $lightGray;
      }

      &:hover,
      &:focus {
        color: $darkBlue;
        text-decoration: none;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          background-color: $lightGray;
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    .menu-item.active {
      color: $darkBlue;
      text-decoration: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $lightGray;
      }
    }
  }
}
