$errorColor: #f44336;
$lightGray: #9daeb6;
$darkBlue: #002335;
$bgGray: #f4f6f8;
$lightGreen: #59b55c;
$mediumGreen: #3a893d;
$grayBorder: #d4dde1;
$darkGrayBorder: #646869;
$yellow: #f5ca23;
$orange: #faad14;
$grayRemark: #95a7b0;
$white: #fff;
$textLightGrey: #88949a;
$blue: #0b6b99;
$poisonousBlue: #108dca;
$breadCrumbGrey: #939ea4;
$breadCrumbBackground: #e9eef2;
$buttonBlue: #01567f;
$lighterDarkBlue: #373f51;
$lighterGray: #acb4b7;
$facebookColorSolitude: #eceef2;
$facebookColorBlue: #5271b5;
$facebookColorLightBlue: #9aa9cf;
$facebookColorGray: #c7d0e3;
$facebookColorBlack: #141823;
$facebookColorBlack2: #141723;
$facebookColorLightGrey: #dfe0e4;
$googleGrey: #efefef;
$googleBlack: #070707;
$googleBorder: #e4e2de;
$googleBlock: #d0d0d0;
$shadowGray: #cbcbcb;
$selectArrowGray: #cfcfcf;
$darkRed: #992f2f;
$black: #000000;
$tooltipBlack: hsla(0, 0%, 20%, 0.9);
$tooltipGreen: #27aa27;
$tooltipBlue: #23adf0;
$selectBg: #e7ebf0;
